@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-text-color: var(--text-color);
  --color-text-color-muted: var(--text-color-muted);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);

  --font-outfit: var(--outfit);
  --font-geist-mono: var(--geist-mono);
  --font-anek-bangla: var(--anek-bangla);

  --text-size-32: 2rem;
  --text-size-28: 1.75rem;
  --text-size-24: 1.5rem;
  --text-size-18: 1.125rem;
  --text-size-16: 1rem;
  --text-size-14: 0.875rem;
  --text-size-10: 0.625rem;

  --spacing-space-xl: 2rem;
  --spacing-space-lg: 1.5rem;
  --spacing-space-base: 1.25rem;
  --spacing-space-md: 0.9rem;
  --spacing-space-sm: 0.6rem;
  --spacing-space-xs: 0.25rem;
}

:root {
  --bg-dark: oklch(0.9492 0.0042 271.37);
  --bg: oklch(0.9716 0.0066 286.28);
  --bg-light: oklch(1 0 0);
  --text-color: oklch(0.305 0.0125 292.2);
  --text-color-muted: oklch(0.541 0.0376 279.46);
  --highlight: oklch(1 0 256);
  --border: oklch(0.8834 0.0054 286.29);
  --border-muted: oklch(0.91 0.0054 286.29);
  --primary: oklch(0.6883 0.204 15.04);
  --secondary: oklch(0.6041 0.1442 257.43);
  --color-danger: oklch(0.7 0.1 30);
  --color-warning: oklch(0.7 0.1 100);
  --color-success: oklch(0.7 0.1 160);
  --color-info: oklch(0.7 0.1 260);
}

@layer base {
  body {
    @apply font-outfit overflow-x-hidden overflow-y-auto scroll-smooth;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .display-size {
    @apply w-full md:w-[1000px] lg:w-[1100px] xl:w-[1300px] 2xl:w-[1400px] pr-[3px];
  }

  .gradient-text {
    background: linear-gradient(
      to right,
      var(--color-secondary) 0%,
      var(--color-primary) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .bg-pattern {
    background-image: url("/bg/bg-pattern.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
  }

  .header-bg {
    background-image: url("/bg/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  .glow-ball {
    border-radius: 50%;
    background: radial-gradient(
      circle,
      oklch(0.6041 0.1442 257.43 / 0.1) 0%,
      oklch(0.9716 0.0066 286.28/0.5) 60%,
      transparent 100%
    );
  }

  .scroll-container::-webkit-scrollbar {
    width: 3px;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
  }

  .toast-in {
    animation: slideInRight 0.3s ease-out forwards;
  }

  .toast-out {
    animation: slideOutRight 0.3s ease-in forwards;
  }
}

@keyframes ping {
  0%,
  100% {
    opacity: 0;
  }
}
.animation-ping {
  animation: ping 2s infinite;
}

.animation-delay-500 {
  animation-delay: 1s;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
